certifi==2022.9.14
charset-normalizer==2.1.1
commonmark==0.9.1
defusedxml==0.7.1
docopt==0.6.2
httpie==3.2.1
idna==3.4
json2table==1.1.5
multidict==6.0.2
numpy==1.23.3
pandas==1.4.4
Pygments==2.13.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.28.1
requests-toolbelt==0.9.1
rich==12.5.1
six==1.16.0
urllib3==1.26.12
veracode-api-signing==22.3.0
